*.hi
*.o
.attr-cache
.cabal-sandbox
/android-app-release.aab
TAGS
cabal-ghcjs.project
cabal.project.local
cabal.sandbox.config
ctags
dist-ghcjs/
dist-newstyle/
dist/
diverk.keystore
errors.err
ghcid-output.txt
profile/
result
result-*
static.out
tags
