*.hi
*.o
.attr-cache
.cabal-sandbox
/android-app-release.aab
/scratch
/static/src/node_modules
TAGS
cabal-ghcjs.project
cabal.project.local
cabal.sandbox.config
ctags
dist-ghcjs/
dist-newstyle/
dist/
diverk.keystore
errors.err
ghcid-output.txt
node_modules/
profile/
result
result-*
static.out
static/out/
tags
