@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Daisy UI misses the following */
  .input:focus {
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    @apply ring-transparent;
  }
  .input-error:focus {
    @apply border-error;
  }
  [type="checkbox"]:checked {
    background-image: none;
  }
  [type="checkbox"]:focus {
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,0 0 0 2px var(--tglbg) inset,var(--togglehandleborder);
  }
}
